{% extends 'base.html' %}


{% block content %}
<main>
    <div>
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% comment %} <input type="text" name="username">
            <input type="password" name="password1">
            <input type="password" name="password2">
            <button>Signup</button> {% endcomment %}
            <button>Signup</button>
        </form>
    </div>
</main>
{% endblock content %}
